name: build
on:
  workflow_dispatch:
  push:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x
      - name: Install Chrome
        id: setup-chrome
        uses: browser-actions/setup-chrome@v2
        with:
          install-dependencies: true
      - name: Check Chrome
        run: |
          echo "${{ steps.setup-chrome.outputs.chrome-path }}"
          echo "${{ steps.setup-chrome.outputs.chrome-version }}"
      - name: Lint
        run: deno lint
      - name: Tests
        run: deno task test
      - name: Archive test result
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sample.test.jpg
          path: test/sample.test.jpg
          retention-days: 3
  build:
    permissions: write-all
    if: github.ref_name == github.event.repository.default_branch
    needs: test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/iamasc8277/zz-gpx-to-jpg:latest
          file: ./Containerfile
          provenance: false          